.main{
    margin: 0 auto;
    width: 800px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: 'Roboto', sans-serif;
}
.title{
    text-align: center;
}
.personal_info__list{
    list-style-type: none;
    line-height: 24px;
}
.name_photo{
    display: flex;
    justify-content: space-between;
}
.name_photo__img{
    width: 100px;
    height: 100px;
}
.personal_info__section{
    font-weight: bold;;
}
h3{
    color: #8660ee;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}